.platligne {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.plats {
  min-width: 300px;
  padding: 0 10px 25px;
  width: 50%;
}

.carteplat {
  align-items: flex-start;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 160px;
  padding: 15px;
  transition-duration: 0.3s;
}
.carteplat:hover {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}
.textplat {
  flex: 1 1;
  margin-right: 15px;
}
.textplat h3 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.textplat p {
  color: #808484;
  font-size: 0.9rem;
  height: 2.6rem;
  line-height: 1.3rem;
  margin: 0 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infoplat {
  align-items: center;
  display: flex;
}
.prixplat {
  color: #808484;
  font-size: 1.1rem;
}
.pop {
  align-items: center;
  color: #ff8000;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 800;
  margin-left: 1rem;
}
.hidden {
  display: none;
}
.imageplat {
  border-radius: 5px;
  height: 130px;
  overflow: hidden;
  position: relative;
  width: 130px;
}
.imgplat {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 1124px) {
  .platligne {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .plats {
    width: 100%;
  }
  .textplat {
    width: 100%;
  }
}
